/*////////////////////////////////////////////////////////////////////////////*/
/*/// TITLING GOTHIC /////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*==================*/
/*=== Bold (700) ===*/
/*==================*/
@font-face {
  font-family: 'titling-gothic';
  src: url('webfonts/Titling-Gothic-Bold.eot');
  src: url('webfonts/Titling-Gothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('webfonts/Titling-Gothic-Bold.woff') format('woff'),
       url('webfonts/Titling-Gothic-Bold.ttf') format('truetype'),
       url('webfonts/Titling-Gothic-Bold.svg#titlinggothicbold') format('svg');
  font-weight: 700;
  font-style: normal;
}




/*====================*/
/*=== Medium (500) ===*/
/*====================*/
@font-face {
  font-family: 'titling-gothic';
  src: url('webfonts/Titling-Gothic-Medium.eot');
  src: url('webfonts/Titling-Gothic-medium.eot?#iefix') format('embedded-opentype'),
       url('webfonts/Titling-Gothic-medium.woff') format('woff'),
       url('webfonts/Titling-Gothic-medium.ttf') format('truetype'),
       url('webfonts/Titling-Gothic-medium.svg#titlinggothicmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}




/*=====================*/
/*=== Regular (300) ===*/
/*=====================*/
@font-face {
  font-family: 'titling-gothic';
  src: url('webfonts/Titling-Gothic-Regular.eot');
  src: url('webfonts/Titling-Gothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('webfonts/Titling-Gothic-Regular.woff') format('woff'),
       url('webfonts/Titling-Gothic-Regular.ttf') format('truetype'),
       url('webfonts/Titling-Gothic-Regular.svg#titlinggothicregular') format('svg');
  font-weight: 300;
  font-style: normal;
}
