@import url(https://fonts.googleapis.com/css?family=Montserrat);

.crumbs {
  width:100%;
  height:50px;
  font:16px Montserrat, sans-serif;
  align-self:flex-start;
  background:lightgrey;

  .crumb {
    position:relative;
    display:inline-block;
    padding:1em;

    &:not(:last-of-type) {
      &:before {
        content:'';
        display:block;
        position:absolute;
        border-top:5px solid transparent;
        border-left:10px solid #658ed0;
        border-bottom: 5px solid transparent;
        top:21px;
        right:-5px;
      }
    }
  }
}

.container {
  width:100%;
  height: 100vh;
  display:flex;
  justify-content:center;
  background:whitesmoke;

  .chart {
    width:500px;
    height:500px;
    align-self:center;
  }
}

/*********************
 SVG Elements styling
*********************/
svg text {
  text-anchor:middle;
}

.ark {
  fill-rule: evenodd;
  cursor:pointer;

  &.-depth-0 { fill:white; }
}
