    <footer style="text-align: center; font-family: sans-serif; border-top: 1px solid #002D72;">
      <p style="font-size: 1.0em;">
        Last updated: {{ site.time }} |
        <a href="https://www.jhu.edu/" style="color: #002D72; text-decoration: none;">Johns Hopkins University</a> |
        <a href="http://govex.jhu.edu/" style="color: #002D72; text-decoration: none;">Center for Government Excellence</a> |
        <a href="http://labs.centerforgov.org/" style="color: #002D72; text-decoration: none;">Labs</a> |
        find us on:
        <a href="https://www.twitter.com/gov_ex" style="color: #002D72; text-decoration: none;">twitter</a> |
        <a href="https://www.facebook.com/centerforgov" style="color: #002D72; text-decoration: none;">facebook</a> |
        <a href="https://www.github.com/govex" style="color: #002D72; text-decoration: none;">github</a>
      </p>
    </footer>
