<!DOCTYPE html>
<html lang="en">
  <head>

    {% include head.html %}

  </head>
  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        {% if page.suppressSiteNotice == nil %}
          <div class="alert alert-info">
            <span class="sr-only">Note:</span>
            <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> We need your help!</strong>
            <p>This document is being developed collaboratively. We hope to make it the best possible resource by leveraging the collective knowledge of government experts and other stakeholders. You can contribute by:
              <ul>
                {% if page.github-document-link %}
                <li>Editing this document through
                  <a href="{{page.github-document-link}}">github</a> or
                  <a href="{{page.prose-link}}">prose.io</a> (github account required)</li>
                <li><a href="{{page.github-issues-link}}">Creating a github issue</a> (github account required)</li>
                {% endif %}
                <li>Adding your comments to the <a href="#comments">discussion</a> at the bottom of this page</a></li>
              </ul>
            </p>
          </div>
        {% endif %}

        {{content}}

      </div>

      <!-- <div class="row">
        <br />
        <br />
        <br />
        <a name="comments"></a>
        <h1>How can we improve this content?</h1>
        <p>Note: Moderator approval is required to make anonymous comments visible to all readers.</p>
        <div id="disqus_thread"></div>
          <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'centerforgov-labs';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      </div> -->

    </div><!-- container -->

    <br />
    <br />
    <br />

    {% include footer.html %}

  </body>
</html>
