.embed-container {
    height: 100vh;
    width: 100%;
    padding-bottom: 50%;
    position: relative;
}
.embed-container iframe {
    min-width: 100%;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
